<p>Leading UK fintech lender Invoice Cycle has rebranded as InvoCap.</p>
<p>Following the award of the prestigious Independent Invoice Finance Provider of the Year at the Receivables Finance International Awards, the ambitious group has now announced its intention to expand into the area of secured business lending.</p>
<p>The group are active in both the UK and Germany and aim to originate £100m in commercial debt.</p>
<p>The products launched focus on allowing customers longer-term repayments, an increase in the value of loans on offer and loans over a longer period of time. Customers can now choose between a number of products within the InvoCap product range, including Flexible Credit Lines, Spot Invoice Financing and Ledger Loans.</p>
<p>UK Managing Director, Dave Cockle said: “We are so much more than just invoice financing, we acknowledge that every customer is unique, and their needs are different. Understanding this, means we understand that a unique approach is needed to ensure that we deliver the right product to each and every customer whether this is by way of a business loan, a revolving facility or Invoice Finance – we can help.” </p>
<p>CEO Gideon Shaw, said: “As our product offering has developed and expanded, we felt that we needed our brand identity to reflect a broader identity. We’re excited about the bringing cutting edge financial products to market and look forward to working with our partners to create value for small and medium businesses.”</p>
<p>InvoCap is a collaboration of finance and technology, and combines experienced employee backgrounds, from some of the largest finance and technology institutions in the world.  The Company was founded with the goal of eliminating cash flow challenges for its customers as they grow their businesses. InvoCap currently has customers across a range of industries, including SaaS, AdTech and Manufacturing.</p>
<p>For more visit <a href="https://www.invocap.com">www.invocap.com</a></p>