<p>Things are running smoothly in the textile trade as a survey from industry association Make it British shows that manufacturing was up 25% in 2017 when compared to the previous year.</p>
<p>However, as many businesses know, increased production can put a strain on both economic and material resources.</p>
<p>When a fabric manufacturer based in Hampshire found themselves in need of capital, they turned to  Alternative Business Funding and Spotcap for funding support.</p>
<p><strong>The challenge</strong></p>
<p>The seven-year old textiles specialist prides itself on providing burst, slash and cut resistant materials for a number of uses, from footwear to backpacks, tents and even marine sails.
 
The materials developed by the seven year old business combine synthetic and natural fibres that specialise in minimising thermal transfer on the wearer and have proven to be particularly popular with motorcycle riders.
 
Fulfilling larger orders, requires forward planning to manage increased demands, whilst also balancing the books. The fabric specialist decided to look for funding to make the most of their positive business momentum.</p>
<p><strong>The solution</strong></p>
<p>In order to secure the right financing, the company used the referral platform Alternative Business Funding (ABF). ABF provides a free and easy way for small and medium-sized businesses to comb through a vast array of funding choices. The website works together with many funding partners, including high street banks and alternative lenders, and matches them with business owners who are looking for funding.</p>
<p>With the help of ABF’s platform, the textile specialists decided to borrow £60k from Spotcap, an online lender that provides fully unsecured, flexible short-term loans without the need of a personal or director guarantee.</p>
<p>After the submission of the application, the business was delighted to receive an approval from Spotcap in less than one working day. The simple application process and the very competitive pricing structure was a natural fit.</p>
<p>John Evans, Business Development Manager at Alternative Business Funding added “Perhaps this textile business was ‘suffering from success’, lacking the finance they needed to manage their cash flow and fulfill larger and more frequent orders. With ABF’s help as well as Spotcap’s straightforward and simple application process, this problem was quickly made a thing of the past.”</p>
<p><strong>The result</strong></p>
<p>With the help of ABF and Spotcap, the manufacturer was able to access the money quickly and maintain a well managed bank account. The flexibility of the loan as well as the speed made a real difference. We wish them the best of luck with their future endeavours!</p>