<p>After 11 years as the CEO of the IAB, Malcolm Trotter will be moving into a newly created role on 1 January 2018. Janet Jack, current IAB Chair, has been appointed into the CEO role.</p>
<p>As International Vice President, Malcolm will continue the IAB’s drive to support the bookkeeping profession in countries around the world – he has visited four countries in the last 12 months, and many more in his time as CEO. By moving this focus to a dedicated role, it allows the newly appointed CEO to take a fully strategic approach to the future of the Association and to ensure the profession in the UK is also supported.</p>
<p>Janet is currently the Finance Director at the Federation of Small Businesses, and runs her own bookkeeping practice, where she has worked with many businesses from a range of sectors. Her range of experience will help her steer the successful future of the IAB.</p>
<p>Malcolm will also support Janet in advising the Council on government and policy initiatives that affect bookkeepers and small businesses. On his new role, Malcolm says: “I am really excited about this change. I have always championed the bookkeeping profession, both in the UK and in IAB’s established and emerging markets, and I really value the opportunity to spend more of my time supporting the IAB in this way. It has been an honour to be CEO, and I’m delighted that Janet will succeed me – I know she will bring energy and commitment to the role.”</p>
<p>Janet says: “I am passionate about the success of the IAB, and believe that bookkeeping as a profession will continue to grow. I would like to thank Malcolm sincerely for all his hard work as CEO, and I’m looking forward to taking the organisation forward in 2018 and beyond.”</p>
<p>Sue Renaut will succeed Janet as IAB Chair.</p>
<p><em>We would like to wish Malcolm the best of luck in his new role and look forward to working with Janet in the future.</em></p>