<p>Alternative Business Funding is a completely free to use service, <a href="/blog/designated-finance-platform/"><u>designated by HM Treasury</u></a>, to help business owners find funders that match their needs.</p>