<p>Shire Leasing offer a range of tailored B2B finance solutions, with a particular focus on leases for business assets and equipment. Other finance solutions also include hire purchase, business loans, refinance and more.</p><p> </p>