<p>When piecing together the challenging funding of two diverse businesses it helps to have a love of puzzles.</p>
<p>And when your major revenue stream is coming from a business specialising in jigsaw accessories, Alternative Business Funding proved the missing piece.</p>
<p>Jigthings has taken America by storm supplying jigsaw tables, boards, cases, frames and safes under the banner “keeping it all together”.</p>
<p>But the more successful the company has become, the greater the need for funds to buy stock to keep up with demand.</p>
<p>The need to keep the business well financed was heightened still further when co-directors Colin King and his wife Lisa launched a second business, Education Quizzes, a subscription website for pupils who want to revise subjects they are studying at school.</p>
<p>“The global jigsaw market in total is worth £100 million,” Colin said. “In the UK alone the education market is worth £100 billion. We only need to capture a tiny, tiny portion of the market to have a good business.”</p>
<p>Which is just what they have with Jigthings which has captured the imagination across the pond. Turnover in America this year is expected to be somewhere between 1.3 and 1.6 million dollars with a further £150,000 in the UK, the majority of the business through Amazon.</p>
<p>Sales in November, December and January match the remaining nine months of the year which creates a “cash flow peak”, Colin admitted</p>
<p>“We have to have everything in America by the last day of October. Half of our total sales for the year have to be bought and paid for by October 30. We need to make sure we have the cash available.”</p>
<p>Initial funding for Jigthings came from Colin’s own pension with £80,000 secured through one of our funding partners, Pension-led funding, at a time when the company turnover was £250,000 in total on both sides of the Atlantic.</p>
<p>With profits unable to keep pace with growth, Colin approached Pension-led funding again and was introduced to fellow ABF funding partner Funding Circle, securing £120,000 finance.</p>
<p>“Sales were so successful, our profit was not large enough to finance the amount of stock that was required,” he said.</p>
<p>A desire to invest the profits in the fledgling Education Quizzes dictated a further round of funding and this time it was ABF’s Funding Finder engine which delivered the ideal financing solution.</p>
<p>The ABF SME customer journey took Colin to a familiar place, helping to secure further finance from Funding Circle, increasing his total funding to £210,000.</p>
<p>Education Quizzes now has three full-time and four part-time staff in additional to Colin, with a further 20 teachers employed to provide content and is well on the way to successfully completing the profitability puzzle like Jigthings.</p>
<p>“If we stopped creating content now for Education Quizzes it would be profitable. We are continuing to expand and believe it will make a profit in time.”</p>
<p>Colin said: “Alternative Business Funding have been instrumental in helping our two businesses grow very quickly. They are able to source many different types of finance to suit individual circumstances.</p>
<p>“ABF have shown a genuine interest in helping us achieve our business ambitions and have been much easier to work with than the high street banks. I recommend them unreservedly.”</p>
<p>For more visit</p>