<p><strong>Unsecured business loan</strong></p><ul><li>£20,000 to £100,000</li><li>3 to 12 months</li><li>Any business purpose</li><li>Transparent costs</li><li>No early repayment penalty</li><li>Access to funds in 48 hours</li></ul>