<p>Trade &amp; Export Finance Ltd (TAEFL) has established a new £1 million fund to help SMEs finance the purchase of goods and materials they require to meet confirmed export orders.  Reports from the SME community regularly identify this funding gap as the most serious obstacle to fulfilling  hard-won orders.</p>
<p>Headquartered in Birmingham, TAEFL works closely with well-run SMEs who have found it difficult to fund the supplies they need to meet orders. Many of those companies have to purchase raw materials or components from suppliers overseas who require payment up front, followed by long delivery times on goods imported by sea from the Far East, for example. Exporters who source entirely from inside the UK face similar problems.</p>
<p>The UK Trade &amp; Investment (UKTI) office in the West Midlands will continue to recommend TAEFL to their clients in the region.</p>
<p>The new fund is modelled on a similar initiative which TAEFL rolled out in March 2015 to support SMEs in the West Midlands. Following the successful take-up of that £1 million fund, this additional round of finance is available to qualifying businesses from across the UK.</p>
<p>Given the diversity of businesses seeking to export and the markets they are addressing, there is no ‘one size fits all' approach to funding exports, as TAEFL CEO Mark Runiewicz explained. “We identify the issues which affect each of our clients and create a solution which most accurately reflects their requirements.”</p>