<p>Quick Capital stood out to Michelle whilst she was searching on Alternative Business Funding for a quick business cash advance to help boost her cash flow.</p>
<p>Michelle established Zenubian in 2014 in Ladywell, South East London. Last July Zenubian expanded into larger premises in Hither Green.</p>
<p>Zenubian is an outlet for Fair Trade and local artisans works, such as jewellery, art, natural body products, textiles, cards &amp; wrap and much more. Since expanding, they now also offer various therapies, workshops and events, and space hire.</p>
<p><img src="https://s3-eu-west-1.amazonaws.com/media.alternativebusinessfunding.co.uk/public/abf-blog/zenubian/7M2A5181.jpg" alt="alt text" title="shop image" /></p>
<p>“Whilst searching on the Alternative Business Funding website for companies offering quick business cash advances, I found Quick Capital.</p>
<p>Cash flow can be tricky for small businesses at certain times of the year. My previous supplier has a policy of a few months delay between sourcing funds, which is not conducive to maintaining a flow at crucial times.</p>
<p>Quick Capital stood out for a few reasons, the regular statements, simplicity of application and repayment. But what I really liked was my advisors' warm approach and his helpful, efficient and communicative manner. It matters to me how I am dealt with.</p>
<p>The bonus was the process also saved me money! I got a better deal on my card payment facility with Quick Capital's partner, Handepay.</p>
<p>Compared to the banks, there is no comparison, Quick Capital would win hands down! Banks are increasingly making it harder for people to access finance, especially small businesses. The survival and growth of independent businesses is crucial in today’s market and Quick Capital seem like they are more in touch with grass roots. Their quick business cash advances are a perfect option.</p>
<p>I am looking forward to my sales increasing over Christmas and seeing that sum lessening on my daily statement. It's easy for me to recommend this simple, efficient and humanistic service.</p>
<p>Of course, I will be using this service again! Zenubian has huge premises that have much more potential for growth. So, I am looking forward to developing those aspects with the help of Quick Capital.”</p>
<p><img src="https://s3-eu-west-1.amazonaws.com/media.alternativebusinessfunding.co.uk/public/abf-blog/zenubian/7M2A5163.jpg" alt="alt text" title="shop image" /></p>