<p>Cash flow finance helped me to fulfill a large order!</p>
<p>Peter Gardner opened award-winning chocolate shop Cocoa Amore in 2013. He accessed Quick Capital’s cash flow finance when producing a large order of Easter eggs.</p>
<p>&gt; "My business is seasonal, with 40% of the year’s turnover generated in December alone. For the past few years I have been producing solid chocolate Easter eggs for another company. This year, the order doubled to 500 eggs.</p>
<p>&gt; <span style="font-size:1.6rem;">The eggs are expensive to produce, so I needed cash flow finance to help while creating the products. I’ve taken out business loans in the past, but I didn’t want to be tied down by more monthly payments. I enquired through the <strong>Alternative Business Funding website</strong>, to find out what kind of funding options were available. </span><span style="font-size:1.6rem;letter-spacing:.01em;">There are lots of alternative options to choose from out there, but I found cash flow finance from Quick Capital was the perfect fit for me. Repayments based on my daily turnover means that I’m never out of pocket. It’s an affordable and manageable way to access finance for whatever your business needs.</span></p>
<p>&gt; A few months later, I received a bill that I needed to pay quickly. I rang my advisor, and received additional funds within two days! It really is that simple!</p>
<p>&gt; Small businesses need financial help sometimes, so it’s great to know that I can access cash flow finance quickly!"</p>
<p><span style="font-size:1.6rem;letter-spacing:.01em;"><br />
If you’d like to find out how a cash advance could help your business stay on track, get in touch with Quick Capital today on 0800 3777 402, or visit <a href="http://www.quickcapital.co.uk/">www.quickcapital.co.uk</a></span></p>