<p>Nationwide Finance are one of the UK’s leading providers of business finance, providing secured funding from £10,000 - £500,000 with terms from 1 year to 5 years. </p><p>Nationwide can work with limited companies and non-limited companies and also lend from start-up onward.</p>