<p>What is your product?</p><p>Capify Merchant Cash Advance is a way of raising between £3,500 and £150,000 in funding to grow your business. You get funds within days and pay us back in daily repayments that are designed specifically to avoid impacting your cash flow.</p>