<p><strong>What is your product?</strong></p><p>Flexible business overdrafts available between £1,000 to £25,000.</p><p><strong>What are the approximate costs?</strong></p><p>Annual overdraft fees applicable depending on amount. Representative Effective Annual Rate - 12.25%</p>