<p>Award-winning customer service business Carpeo is set to create 300 jobs after securing more than half a million pounds of funding from alternative finance provider ThinCats.</p>
<p>Carpeo has launched a new division, Carpeo Estate Planning, after being introduced to ThinCats by the Alternative Business Funding platform.</p>
<p>Director David Williams said he discovered the ABF portal while searching online for business finance.</p>
<p>“I found it a viable way for business owners to be able to access a variety of innovative funding providers,” he said. “I would definitely urge businesses that are seeking funding to input their details and quickly and easily explore the range of new options available in the market.”</p>
<p>The 300 jobs are being created at Carpeo’s new contact centre in Newport, South Wales, with the cash injection from ThinCats used to support working capital and capital expenditure. The FCA-regulated organisation currently employs 250 people in Swindon.</p>
<p>Carpeo Estate Planning aims to disrupt the market by offering more affordable wills and funeral planning. </p>
<p>David said: “In a world of banks saying ‘No’, ThinCats said ‘Yes’.  ThinCats is a relationship-driven business and their team took the time to get to know us and what we wanted to achieve and shaped the facility to meet our needs. The short lines of decision-making made the process easy and straightforward.</p>
<p>“Approximately 60% of UK adults don’t have a Will and 41% haven’t made the necessary provisions for a funeral. It is our mission is to make available more accessible, affordable and effective estate planning solutions through our membership scheme. It is therefore our intention to disrupt the market and having the support of an entrepreneurial alternative finance provider is aligned perfectly with that vision.”</p>
<p>Adam Tavener, chairman of Alternative Business Funding, said: “The ABF platform provides finance to businesses across the whole of the UK and includes pretty much every sort of debt-based business funding. Although nationally active, it was conceived and delivered in Bristol, one of the leading tech hubs in the South West.</p>
<p>“ABF has consistently set the standard for high-quality funding outcomes and ease of use which are two of the reasons that it has received the explicit backing of HM Treasury under the bank referrals designation regime.”</p>
<p>John Sharpe, Business Originator, South West &amp; South Wales at ThinCats, added: “This is a very exciting time in Carpeo’s development in transforming the UK estate planning sector and we are delighted to have been given the opportunity to support the business during this exciting phase of its ambitious growth. We wish the management team every success with the business and their continued impressive investment in supporting employment in South Wales.”</p>