<p>Many business people still have the perception of alternative funding as a last resort. This is despite a recent survey of 1,500 UK SMEs which revealed that a third of them don’t even understand what alternative finance actually is - or how to access it. </p>
<p>In addition, only around a fifth say they have ever considered using alternative finance as a form of funding, with 70 per cent viewing it as being a more risky option than applying for “traditional” finance via their bank.</p>
<p>It would seem that many SMEs are not feeling the full benefits that are available to them outside of the traditional lending model and that many may be missing out on funding.</p>
<p>Trade finance houses, such as Legion Trade Finance, act mainly as an interposed supplier, buying products typically from overseas to sell on to a client. Trade financiers pay the suppliers directly on behalf of clients for the goods. The clients then repay the trade financier when they have sold the goods on to their end customers. It is front-end working capital funding.</p>
<p>Clients can work with trade finance houses on a number of levels ranging from one-off trades to a more regular basis. Legion has flexibility on terms from a single trade over a few weeks to longer term, revolving facilities covering multiple cycles.</p>
<p>Some companies, such as Legion, also employ testing houses or will be able to recommend ones to clients. We are able to offer advice and guidance on working with suppliers, so that clients can be certain that they know the source of their goods and ensure they are compliant.</p>
<p>Trade finance houses can also pay in whichever currency the supplier wants, and buy goods under their own name before selling in onto their clients, which makes it more akin to trading than to simply lending money.</p>
<p>They can offer a high-quality level of service, with prompt, knowledgeable teams and management, who can give a quick turnaround on decision making. For example, each Legion customer has their own client manager, who works with around 10 clients, meaning a very high level of interaction.</p>
<p>Legion’s solutions deliver significant cash flow and working capital benefits. The company structures innovative financing solutions bespoke to its clients’ requirements, including making direct supplier payments, loans and letters of credit. There is no limit to the size of facilities it can offer with terms to cover short-term individual shipments to longer-term revolving facilities.</p>
<p>Many UK businesses are familiar with bank lending and more traditional working capital finance such as invoice discounting or overdrafts. However, trade finance can offer an ideal solution for certain types of businesses.</p>
<p>The message is simple: don’t miss out on funding, consider the alternatives.</p>
<hr /><div class="text-center">**If you would like to learn more about Legion Trade Finance, please email [info@legiontradefinance.com](mailto:info@legiontradefinance) visit [www.legiontradefinance.com](www.legiontradefinance.com) or call 01491 877 234.**

</div>