<p>If you're looking for a safety net to help you manage fluctuations in your cash flow and respond to emergencies, our business overdraft could be just the answer. </p><p>Pay interest only on the amount you use - calculated on a daily basis. </p>