<p>LDF are delighted to join the Alternative Business Funding platform, helping to support SME businesses with our tailored financial solutions. </p>
<p>Alternative funding has really raised its profile over the last couple of years due to organisations such as this. We are keen to show our support, and as a well-established lender, we have a strong background in supporting SMEs via our range of financial products.</p>
<p>With access to funding still presenting challenges for many businesses, the need for alternative non- mainstream bank options are crucial. Research commissioned by LDF shows that 77.5% of businesses would consider using alternate finance to fund their business, with 34.4% indicating they faced a challenge when trying to access finance. These results further highlight the need for greater options and LDF are pleased to be able to provide a number of solutions to help break down these barriers.</p>
<p>Understanding the importance of access to working capital means our solutions can cater for a broad range of industry sectors. Our deal sizes typically range from £2,000 up to £500,000 with decisions in as little as 24 hours. In addition to our Leasing facilities our unique Tax and VAT loan products are popular options for many clients of LDF.</p>
<p>LDF are regulated by the FCA and are members of the following industry bodies: FLA, NACFB, BVRLA, BDIA, and NASBM.</p>
<p>Head of Strategic Business Development, Callum Stevenson said, “We appreciate the challenges faced by UK businesses when it comes to finding the right financial solutions to support growth and investment. We are committed to serving our customers with lease and loan products that can help them better manage their costs.</p>
<p>We’re excited to be a part of the Alternative Business Funding panel and look forward to assisting businesses via this channel”.</p>