<p><strong>Secured business loan</strong></p><ul><li>£20,000 to £1,000,000</li><li>3 months to 5 years</li><li>Any business purpose</li><li>Interest only options</li><li>No early repayment penalty</li><li>Access to funds in 5 days</li></ul>